@import url('https://fonts.googleapis.com/css?family=Roboto:400');

:root {
  --main-bg-color: #f5f5f5;
  --primary-100:hsl(220 92% 90%);
  --primary-200:hsl(220 92% 80%);
  --primary-300:hsl(220 92% 70%);
  --primary-400:hsl(220 92% 60%);
  --primary-500:hsl(220 92% 50%);
  --primary-600:hsl(220 92% 40%);
  --primary-700:hsl(220 92% 30%);
  --primary-800:hsl(220 92% 20%);
  --primary-900:hsl(220 92% 10%);
  --acent-100:hsl(16 100% 90%);
  --acent-200:hsl(16 100% 80%);
  --acent-300:hsl(16 100% 70%);
  --acent-400:hsl(16 100% 60%);
  --acent-500:hsl(16 100% 50%);
  --acent-600:hsl(16 100% 40%);
  --acent-700:hsl(16 100% 30%);
  --acent-800:hsl(16 100% 20%);
  --acent-900:hsl(16 100% 10%);
  --gray-100:hsl(0 0 90%);
  --gray-200:hsl(0 0 80%);
  --gray-300:hsl(0 0 70%);
  --gray-400:hsl(0 0 60%);
  --gray-500:hsl(0 0 50%);
  --gray-600:hsl(0 0 40%);
  --gray-700:hsl(0 0 30%);
  --gray-800:hsl(0 0 20%);
  --gray-900:hsl(0 0 10%);

}


html {font-size: 100%;} /*16px*/

body {
  background: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.052rem;
  margin-bottom: 1.5rem;
  
}

h2 {font-size: 1.8rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.mt-4{
  margin-top: 4px;
}
.mt-8{
  margin-top: 8px;
}
.mt-16{
  margin-top: 16px;
}
.mt-24{
  margin-top: 24px;
}
.mt-32{
  margin-top: 32px;
}
.mt-48{
  margin-top: 48px;
}
.mt-64{
  margin-top: 64px;
}

.mb-4{
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-48{
  margin-bottom: 48px;
}
.mb-64{
  margin-bottom: 64px;
}


.ml-4{
  margin-left: 4px;
}
.ml-8{
  margin-left: 8px;
}
.ml-16{
  margin-left: 16px;
}
.ml-24{
  margin-left: 24px;
}
.ml-32{
  margin-left: 32px;
}
.ml-48{
  margin-left: 48px;
}
.ml-64{
  margin-left: 64px;
}

.mr-4{
  margin-right: 4px;
}
.mr-8{
  margin-right: 8px;
}
.mr-16{
  margin-right: 16px;
}
.mr-24{
  margin-right: 24px;
}
.mr-32{
  margin-right: 32px;
}
.mr-48{
  margin-right: 48px;
}
.mr-64{
  margin-right: 64px;
}

/* Home */
.slider-home{
  width: 100%;
  margin: 0 auto;
}
.navbar-brand img {
  width: 250px;
}

.subMenuFullContent {
  width: 100%;
  float: left;
}

.dropdown {
  position: unset!important;
}
.group-list{
  width: 33%; 
  float:left;
}


.navbar-collapse{
  flex-grow: unset!important;
}

.titleSearch{
  text-align: center;
}


.navbar-nav {
  margin-right: 20px;
}

.navbar-nav li{
  margin-right: 20px;
}


/* Quick and dirty normalize hax */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.containerSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.searchInputWrapper {
  position: relative;
  width: 60%;
}

.searchInput {
  width: 100%;
  height: 4rem;
  padding: 0 1rem; 
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
  border: solid 1px #c3c3c3;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #0f0;
  transition: all 0.1s ease-in-out;
  width: 45px;
  height: 45px;
}
.searchLink{
  width: 60%;
  margin-top: 24px;
}

.container:focus-within > 
.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
.fullBanner-sm {
  width: 100%;
  height: 250px;
  background-color: #c3c3c3;
  overflow: hidden;
}

.fullBanner-sm img {
  width: 100%;
}

.iconCat{
  width: auto;
  height: auto;
  text-align: center;
}
.categoryIcon{
  display:block;
  width: 100%;
}
.categoryDescriton{
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  height: 41px;
  width: 100%;
  /* background: aliceblue; */
  display: block;
}

.title-Section2 {
  text-align: center;
}

.footer { 
width: 100%;
float: left;
height: 500px;
background-color: darkblue;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}




.bg-cover {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-center {
  background-position: center center;
}

code {
background: #fff;
padding: 0.2rem;
border-radius: 0.1rem;
text-shadow: none;
}

.demo-text {
text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.overlay-gradient {
  position: relative;
}

.overlay-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #040e92, #212529);
  display: block;
  opacity: 0.55;
}

.overlay-dark {
  position: relative;
}

.overlay-dark::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  display: block;
  opacity: 0.55;
}

.overlay-content {
  z-index: 99;
  position: relative;
}

.preFooter {
  background-image: url("../images/Footer-mathiesen-Panoramica-CDD2.jpg");
  width: 100%;
  height: 200px;
  padding: 2% 20%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.accordion-header  h2{
margin-top: 0;
}


.cat-sumary {
  width: 100%;
  float: left;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 24px;
}
.cont-pagination{
  width: auto;
  height: auto;
  padding: 16px;
  box-sizing: border-box;
  float: right;
}

.cont-product-cardInfo {
  width: 100%;
  float: left;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 24px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 6px;;
}

.productItem{
 width:40%;
  float: left;
  padding: 16px;
  box-sizing: border-box;
border: solid 1px #c3c3c3;
  border-radius: 6px;;

 margin: 2%;
}

.data-info {
  padding: 16px;
  box-sizing: border-box;
  width:100%;
  float: left;
  border-bottom: solid 1px #c3c3c3;
}

.accordion {
  margin-top: 24px;
}

@media only screen and (max-width: 991px) {
  .group-list{
    width: unset!important; 
    float:unset!important;
  }

  .searchInputWrapper {
    position: relative;
    width:80%;
  }
}